.baner {
  padding-bottom: 100px;
  &__wrapper {
    padding: clamp(2.5rem, 1.696rem + 3.57vw, 4.375rem) clamp(1.875rem, 8.33vw, 6.25rem);
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: space-between;
    background: linear-gradient(144.39deg, #ffffff -278.56%, #6d6d6d -78.47%, #11101d 91.61%);
    backdrop-filter: blur(5px);
    border-radius: 20px;

    @media (max-width: 767px) {
      & {
        flex-direction: column;
        flex: none;
        gap: 30px;

        & .baner__right {
          width: 100%;

          & .baner__action {
            width: 100%;
            text-align: center;
          }
        }
      }
    }
  }

  &__left {
    flex: 1 1 70%;
  }

  &__title {
  }

  &__subtitle {
  }

  &__right {
    flex: 1 1 20%;
    text-align: right;
  }

  &__action {
    white-space: nowrap;
  }
}
