.comments {
  &__wrapper {
  }

  &__body {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 80px;

    & h3 {
      max-width: 450px;
    }
    & p {
      max-width: 450px;
    }
    @media (max-width: 992px) {
      flex-direction: column;
      margin-bottom: 40px;

      & h3,
      p {
        max-width: 100%;
      }
    }
  }

  &__content {
    display: flex;
    @media (max-width: 992px) {
      flex-direction: column;
    }
  }

  &__item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    flex: 0 0 33.33333%;
    padding: clamp(2.5rem, 1.964rem + 2.38vw, 3.75rem) clamp(0.938rem, 4.17vw, 3.125rem) 50px;

    &::before {
      position: absolute;
      content: "";
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      border-radius: 20px;
      background: linear-gradient(144.39deg, #ffffff -278.56%, #6d6d6d -78.47%, #11101d 91.61%);
      backdrop-filter: blur(5px);
      z-index: -1;
      transition: opacity 0.3s linear;
      opacity: 0;
      will-change: opacity;
    }

    @media (any-hover: hover) {
      &:hover:before {
        opacity: 1;
      }
    }
  }
}

.item-comments {
  &__symbol {
  }

  &__text {
    align-self: flex-start;
    height: 100%;
    padding-top: 40px;
    font-weight: 400;
    font-size: 18px;
    line-height: 180%;
    letter-spacing: 0.02em;
    color: #ffffff;

    margin-bottom: 24px;
  }

  &__user {
    display: flex;
    align-items: flex-start;
    gap: 15px;

    & img {
      width: 50px;
      height: 50px;
    }
  }

  &__user-body {
    display: flex;
    flex-direction: column;
  }
}
.user-body {
  &__name {
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
    color: #ffffff;
  }

  &__job {
    font-family: var(--poppins);
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #ffffff;
    opacity: 0.5;
  }
}
